.container {
  background-image: url("src\assets\lettuce hydroponics.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
